<!DOCTYPE html>
<html lang="en">

<head>
    {% load staticfiles %}
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="../image/favicon.ico">

	<title>个人信息 - 宿舍管理系统</title>


 <link rel="icon" href={% static 'bootstrap/image/favicon.ico' %}>
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'bootstrap/css/student.css' %}" rel="stylesheet" type="text/css">





	<style>
		.table tbody tr td {
			vertical-align: middle;
		}
	</style>

</head>

<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
				 aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
				<a class="navbar-brand" href="#">学生宿舍管理系统</a>
			</div>

			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="info_student.html"><span class="glyphicon glyphicon-user"></span> {{ username }}同学</a></li>
					<li><a href="#">注销</a></li>
				</ul>
			</div>
		</div>
	</nav>



	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 col-md-2 col-xs-3 sidebar" id="side">
				<ul class="nav nav-sidebar">
					<li>
						<a href="index.html">宿舍退调申请</a>
					</li>
					<li>
						<a href="repair.html">宿舍设施报修申请</a>
					</li>
					<li>
						<a href="payment.html">生活缴费</a>
					</li>
					<li>
						<a href="resource.html">宿舍资源申请</a>
					</li>
					<li>
						<a href="meeting.html">研讨室申请</a>
					</li>
					<li>
						<a href="activity.html">社区活动申请</a>
					</li>
					<li>
						<a href="book.html">共享书屋<span class="sr-only">(current)</span></a>
					</li>
				</ul>
			</div>

			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">


				<h1 class="page-header">
					个人信息
					<div class="pull-right">
						<button type="button" class="btn btn-info">保存信息</button>
					</div>
				</h1>

				<form>
					<div class="row">
						<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
							<div class="form-group">
								<label class="control-label">学号:</label>
								<input type="text" class="form-control" readonly="readonly" value="2014101027">
							</div>
						</div>

						<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
							<div class="form-group">
								<label class="control-label">姓名:</label>
								<input type="text" class="form-control" readonly="readonly" value="王俊皓">
							</div>
						</div>

						<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
							<div class="form-group">
								<label class="control-label">性别:</label>
								<input type="text" class="form-control" readonly="readonly" value="男">
							</div>
						</div>

						<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
							<div class="form-group">
								<label class="control-label">学院:</label>
								<input type="text" class="form-control" readonly="readonly" value="工学院">
							</div>
						</div>

						<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
							<div class="form-group">
								<label class="control-label">专业:</label>
								<input type="text" class="form-control" readonly="readonly" value="计算机科学与技术">
							</div>
						</div>

						<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
							<div class="form-group">
								<label class="control-label">现住宿舍:</label>
								<input type="text" class="form-control" readonly="readonly" value="弘毅 ABC">
							</div>
						</div>


						<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
							<div class="form-group">
								<label class="control-label">联系电话:</label>
								<input type="text" class="form-control" value="185209292388">
							</div>
						</div>

						<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
							<div class="form-group">
								<label class="control-label">邮箱:</label>
								<input type="text" class="form-control" value="14jhwang@stu.edu.cn">
							</div>
						</div>

						
					</div>

				</form>


			</div>
		</div>
	</div>


	<!-- Bootstrap core JavaScript
      ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="../js/jquery-2.2.1.min.js"></script>
	<script src="../js/bootstrap.min.js"></script>
	<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
	<script src="../js/holder.min.js"></script>
     <script type="text/javascript" src="{% static 'bootstrap/js/jquery-2.2.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.js' %}"></script>

</body>

</html>