<!DOCTYPE html>
<html lang="en">

<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../image/favicon.ico">

    <title>生活缴费 - 宿舍管理系统</title>


 <link rel="icon" href={% static 'bootstrap/image/favicon.ico' %}>
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'bootstrap/css/student.css' %}" rel="stylesheet" type="text/css">

    <style>
        .table tbody tr td {
            vertical-align: middle;
        }
    </style>

</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
                <a class="navbar-brand" href="#">学生宿舍管理系统</a>
            </div>

            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="info_student.html"><span class="glyphicon glyphicon-user"></span> {{ username }}同学</a></li>
                    <li><a href="#">注销</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 col-xs-3 sidebar" id="side">
                <ul class="nav nav-sidebar">
                    <li>
                        <a href="/show_student_index">宿舍退调申请</a>
                    </li>
                    <li>
                        <a href="/show_stu_repair_index">宿舍设施报修申请</a>
                    </li>
                    <li class="active">
                        <a href="/show_stu_pay_index">生活缴费</a>
                    </li>
                    <li>
                        <a href="/show_stu_resource_index">宿舍资源申请</a>
                    </li>
                    <li>
                        <a href="/show_stu_meeting_index">研讨室申请</a>
                    </li>
                    <li>
                        <a href="/show_stu_activity_index">社区活动申请</a>
                    </li>
                    <li>
                        <a href="/show_stu_book_index">共享书屋<span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>

            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">


                <h1 class="page-header">
                    生活缴费
                </h1>


                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#record" aria-controls="record" role="tab" data-toggle="tab">用费记录</a>
                    </li>
                    <li role="presentation">
                        <a href="#pay_record" aria-controls="pay_record" role="tab" data-toggle="tab">缴费记录</a>
                    </li>
                </ul>
<form  action="/dor/student_handle/pay_bill/pay_bill/">
                <div class="tab-content" style="margin-top: 10px">

                    <div role="tabpanel" class="tab-pane active" id="record">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>用费单号</th>
                                        <th>宿舍地址</th>
                                        <th>缴费项目</th>
                                        <th>费用</th>
                                        <th>计量区间</th>
                                        <th>是否缴费</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <form id="cost" action="/dor/student_handle/pay_bill/pay_bill/" method="post">
                                {% csrf_token %}

                                {% for i in paylog %}
                                    <tr>
                                        <td>{{ i.cost_no }}</td>
                                        <td>{{ i.dor_no }}</td>
                                        <td>{{ i.item }}</td>
                                        <td>{{ i.fee }}</td>
                                        <td>{{ i.time }}</td>
                                        <td><span class="label label-primary">{{ i.status }}</span></td>
                                        <td>
                                            <button id="cost_no" name="cost_no" type="button" class="btn btn-primary btn-xs" data-toggle="modal" onclick="payment()" data-target="#pay{i.cost_no}">缴费</button>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </form>
                                </tbody>
                            </table>

                            <div class="pull-right">
                                <ul class="pagination">
                                    <li>
                                        <a href="#" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li>
                                        <a href="#" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!-- ./pagination -->
                        </div>
                    </div>
                    <!-- /.tab-pane -->

                    <div role="tabpanel" class="tab-pane" id="pay_record">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>用费单号</th>
                                        <th>宿舍地址</th>
                                        <th>缴费项目</th>
                                        <th>费用</th>
                                        <th>计量区间</th>
                                        <th>学生学号</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>#123123123</td>
                                        <td>东莞 422D</td>
                                        <td>空调</td>
                                        <td>三蚊鸡</td>
                                        <td>2017年4月11日-5月41日3分</td>
                                        <td>2014101027</td>
                                    </tr>
                                    <tr>
                                        <td>#123123123</td>
                                        <td>弘毅 411C</td>
                                        <td>空调</td>
                                        <td>五百万</td>
                                        <td>2017年4月11日-5月41日3分</td>
                                        <td>2014101027</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="pull-right">
                            <ul class="pagination">
                                <li>
                                    <a href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li>
                                    <a href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- ./pagination -->
                    </div>
                    <!-- /.tab-pane -->

                </div>
        </div>
        </div>
    </div>


        <!-- Bootstrap core JavaScript
      ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="../js/jquery-2.2.1.min.js"></script>
        <script src="../js/bootstrap.min.js"></script>
        <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
        <script src="../js/holder.min.js"></script>
             <script type="text/javascript" src="{% static 'bootstrap/js/jquery-2.2.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.js' %}"></script>

</body>
<script>
    function payment()
    {
        document.getElementById("cost_no").value="已缴费";
        document.getElementById("cost").submit();
    }
</script>
</html>